.button {
  background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: $white;
  min-height: 70px;
  padding: 20px;
  border-radius: 70px;
  max-width: 412px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;

  @include flex(center, center);

  span {
    padding-left: 15px;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 3px solid $white;
      border-right: 3px solid $white;
      transform: rotate(45deg);
      left: -15px;
      top: 3px;
    }
  }
}