.centers {
  padding-top: $gap * 60;
  padding-bottom: $gap * 50;

  &__list {
    @include flex(flex-start, flex-start);

    flex-wrap: wrap;
  }

  &__list-item {
    width: 745px;
    margin-bottom: $gap * 12;
  }

  &__list-item:nth-of-type(2n-1) {
    margin-right: 30px;
  }

  &__list-header {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: $gap * 30;
  }

  &__list-text {
    margin-bottom: $gap * 16;
  }

  &__list-text:last-of-type {
    margin-bottom: $gap * 20;
  }

  &__list-button {
    background-color: $white;
    padding: 10px 46px;
    border: 2px solid $black;
    min-height: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border-radius: 60px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $yellow;
      transition: all 0.4s;

      border: 2px solid $yellow;
      color: $white;
    }
  }
}

@media(max-width: $desktopA) {
  .centers {
    padding-top: $gap * 61;

    &__list-item,
    &__list-image img {
      width: 525px;
    }

    &__list-image img {
      height: 487px;
    }

    &__list-item:first-of-type img {
      height: 537px;
    }

    &__list-header {
      font-weight: 800;
      font-size: 50px;
      line-height: 50px;
      padding-top: 4px;
    }

    &__list-text {
      font-size: 18px;
      line-height: 25px;
    }

    &__list-text:last-of-type {
      margin-bottom: $gap * 19;
    }

    &__list-button {
      min-height: auto;
      padding: 14px 44px;
      font-size: 15px;
      line-height: 18px;
    }
  }
}