.header {
  position: relative;
  
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    bottom: -30px;
  }

  &__topper {
    border-bottom: 1px solid $gray;
    padding: 18.5px 0;
  }

  &__topper-wrapper,
  &__topper-links {
    @include flex(center, flex-start);
    overflow: hidden;
  }

  &__logo {
    margin-right: 40px;
    position: relative;
    top: 5px;
  }

  &__topper-item {
    margin-right: 20px;
  }

  &__topper-link {
    @include flex(center, flex-start);

    font-size: 14px;
    line-height: 17px;

    span {
      padding: 3px 0;
      border-bottom: 1px solid $gray;
    }

    svg, img {
      margin-right: 9px;
    }

    &:hover,
    &:focus {
      span {
        border-bottom: 1px solid $yellow;
        transition: all 0.4s;
      }
    }

  }

  &__phone {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone-item {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;

    svg, img {
      margin-right: 2px;
    }
  }

  &__phone-item:first-of-type {
    margin-bottom: 5px;
  }

  &__phone-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;

    &:hover,
    &:focus {
      color: $yellow;
      transition: all 0.4s;
    }
  }

  &__lower {
    padding: 16px 0;
  }

  &__mob {
    display: none;
  }

  &__lower-links {
    @include flex(center, space-between);
  }

  &__lower-link {
    @include flex(center, center);

    padding: 2px 56px;
    font-size: 16px;
    line-height: 20px;
    border-right: 1px solid $gray;

    svg, img {
      margin-right: 10px;
    }

    span {
      display: inline-block;
      padding-right: 27px;
      position: relative;

      &::after,
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(-45deg);
      }

      &::after {
        width: 8px;
        height: 8px;
        background: rgb(255,204,0);
        background: linear-gradient(90deg, rgba(255,204,0,1) 100%, rgba(255,163,0,1) 100%);
        top: 20%;
        right: 11px;
      }

      &::before {
        width: 6px;
        height: 6px;
        background-color: $white;
        z-index: 1;
        right: 12px;
        top: 10%;
      }
    }

    &:hover,
    &:focus {
      transition: all 0.4s;
      color: $yellow;
    }
  }

  &__lower-item:first-of-type {
    span {
      &::after,
      &::before {
        display: none;
      }
    }
  }

  &__lower-item:first-of-type &__lower-link {
    padding-left: 0;
    padding-right: 31px;
  }
}

@media(max-width: $desktopA) {
  .header {
    &__logo {
      top: 4px;
    }

    &__topper {
      padding: 16px 0;
    }

    &__lower {
      padding: 16px 0; 
    }

    &__lower-links {
      justify-content: flex-start;
    }

    &__lower-link {
      font-size: 14px;
      line-height: 17px;
      border-right: none;
      padding: 0;

      span {
        padding-right: 20px;

        &::after {
          right: 4px;
        }

        &::before {
          right: 5px;
        }
      }
    }

    &__lower-item {
      margin-right: 49px;
    }

    &__lower-item:last-of-type {
      margin-right: 0;
    }

    &__lower-item:first-of-type &__lower-link {
      border-right: 1px solid $gray;
      padding-right: 29px;
      font-size: 16px;
      line-height: 20px;

      span {
        padding-right: 0;
      }
    }
  }
}