.workers {
  padding-top: $gap * 60;

  &__header {
    max-width: 1100px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 0 auto $gap * 20;
  }

  &__text {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: $gap * 40;
  }

  &__list {
    @include flex(stretch, space-between);
    
    padding-bottom: $gap * 40;
    position: relative;
  }

  &__list-item {
    @include flex(center, flex-start);

    flex-direction: column;
    box-sizing: border-box;
    padding: 0 6.5px;
    max-width: 356px;
    min-width: 356px;
  }

  &__list-item:first-of-type &__list-comment {
    br {
      display: none;
    }
  }

  &__list-image {
    margin-bottom: $gap * 20;

    img {
      display: block;
      border-radius: 100%;
    }
  }

  &__list-name {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: $gap * 8;
  }

  &__list-bio {
    text-align: center;
    min-height: 66px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $gap * 16;
  }

  &__list-count {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: $gap * 21.5;
    padding-left: 41px;
    width: 100%;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: url('../../img/utils/icon-check.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: -3px;
      left: 6px;
    }
  }

  &__list-comment {
    padding: 16px;
    background-color: $lightGray;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 296px;

    &::before {
      width: 20px;
      height: 20px;
      content: '';
      position: absolute;
      display: inline-block;
      top: -6px;
      left: 50%;
      margin-left: -22px;
      background-color: $lightGray;
      border-radius: 4px;
      transform: rotate(45deg);
      z-index: -1;
    }
  }

  .wrapper {
    overflow-x: visible;
  }
}

@media(max-width: $desktopA) {
  .workers {
    padding-top: $gap * 140;

    &__header {
      font-weight: 700;
      font-size: 42px;
      line-height: 42px;
      max-width: 900px;
    }

    &__text {
      font-size: 20px;
      line-height: 24px;
    }

    &__list {
      position: relative;
      left: 15px;
    }

    &__list-item {
      max-width: 311px;
      min-width: 311px;
      padding: 0;
      margin-right: $gap * 29;
    }

    &__list-name {
      font-size: 22px;
      line-height: 29px;
    }

    &__list-bio {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: $gap * 12.5;
    }

    &__list-count {
      padding-left: 30px;

      &::before {
        left: 0;
      }
    }

    &__list-comment {
      padding: 16px;
      max-width: 280px;
    }

    &__list-item:first-of-type &__list-comment {
      br {
        display: inline-block;
      }
    }
  }
}