* {
  @include reset();

  box-sizing: border-box;
}

.body {
  font-family: $mont;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: $black;
  background-color: $white;
}

.main {
  overflow-x: hidden;
}
