$mont: "Montserrat", "Arial", sans-serif;
$proxima: "Proxima Nova", "Arial", sans-serif;

$black: black;
$white: white;
$gray: #e5e5e5;
$yellow: #ffa300;
$lightGray: #f6f6f6;

$gap: 2px;
$wrapperSize: 1520px + 2 * 20px;
$maxWidth: 1920px;
$desktopA: 1919px;
$desktopB: 1365px;
$tabletA: 1023px;
$tabletB: 767px; 
$mobile: 374px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
